@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: Montserrat;
   src: url("../assets/fonts/Montserrat-Black.ttf"), url("../assets/fonts/Montserrat-Medium.ttf"),
      url("../assets/fonts/Montserrat-Regular.ttf");
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: Montserrat "Poppins";
}

:root {
   --color-primary: #d2f254;
   --color-secondery: #17171b;
   --color-white: #f7f7f7;
}

*::-webkit-scrollbar {
   width: 12px;
}

::-webkit-scrollbar-track {
   background: #17171b;
}

*::-webkit-scrollbar-thumb {
   background-color: #f7f7f7;
   border: 2px solid #17171b;
}

body {
   background-color: var(--color-white);
}

.sticky {
   position: sticky;
   transition: 0.8s;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   background-color: var(--color-white);
}

.tilt-card-section-degrade {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   background-image: linear-gradient(to right, #35e4ee, #27edd5, #5df4af, #97f582, #d2f254);
}

.shoe-filter {
   filter: drop-shadow(6px 5px 20px #666666);
}

.hover-nav-top {
   @apply hover:text-[var(--color-primary)] cursor-pointer;
}
